.custom-navbar {
    background-color: #000000 !important; /* Fondo negro puro */
    height: 70px; /* Altura fija para el navbar */
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(255, 115, 0, 0.2);
    z-index: 10000 !important;
}

.nav-logo {
    height: 60px; /* Logo casi tan alto como el nav (70px) */
    width: auto;
    transition: transform 0.3s ease;
}

/* Si quieres que el logo sobresalga un poquito por debajo sin mover el nav: */
.nav-logo:hover {
    transform: scale(1.1);
}

.nav-link-custom {
    color: #ffffff !important;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.8rem;
    letter-spacing: 1px;
}