/* App.css - Paleta de colores y bases */
:root {
  --color-bg-main: #080b12; /* Fondo principal muy oscuro */
  --color-bg-secondary: #111521; /* Fondo para barras secundarias */
  --color-accent: #FF7300; /* Naranja vibrante del botón/acentos */
  --color-text-light: #ffffff;
  --color-text-dim: #aab0c4; /* Color de texto secundario */
}

body {
  background-color: var(--color-bg-main) !important;
  color: var(--color-text-light) !important;
  font-family: 'Rajdhani', sans-serif; /* Recomiendo importar una fuente "gamer" como Rajdhani o Chakra Petch de Google Fonts en tu index.html */
}

/* Utilidades */
.text-accent { color: var(--color-accent) !important; }
.bg-dark-secondary { background-color: var(--color-bg-secondary); }

/* Color de fondo principal para que no haya blancos */
.bg-main { background-color: #080b12; }
.mt-navbar { margin-top: 100px; } /* Para páginas que no son Home */

/* Botón Naranja Personalizado */
.btn-accent {
    background-color: var(--color-accent);
    color: white;
    font-weight: 800;
    text-transform: uppercase;
    padding: 12px 30px;
    border: none;
    clip-path: polygon(10% 0, 100% 0, 90% 100%, 0 100%); /* Efecto inclinado "gamer" */
    transition: all 0.3s ease;
}

.btn-accent:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px var(--color-accent);
    color: white;
}

.App {
  margin-top: 0 !important;
  padding-top: 0 !important;
  background-color: #0b0e11;
  min-height: 100vh;
}